<!-- attendance.html -->
<!DOCTYPE html>
<html lang="tw">
<head>

  <title>{{attendance_data.get_cClass_display}}簽到表</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">首頁</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Wait">匿名傳Line</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Attendance">簽到列表</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Attendance/register">註冊簽到</a>
    </li>
  </ul>
</nav>

<div class="container">
  <h2>{{attendance_data.get_cClass_display}} 第 {{attendance_data.iNode}} 節數學課</h2>
  <p>Due : {{ attendance_data.sDate }} </p>
  <p>Current Time : <span id='ct7' style="background-color: #FFFFFFFF"></span></p>
  <p>簽到人數/總人數：{{arrived_num}}/{{total_num}}</p>         
  <table class="table table-hover">
    <thead>
      <tr>
        <th>座號</th>
        <th>姓名</th>
        <th>簽到狀態</th>
        <th>簽到時間</th>
      </tr>
    </thead>

    <tbody>
      {% for student in student_list %}
	      <tr>
	        <td>{{student.sStudent_id.iSeat_number}}</td>
	        <td>{{student.sStudent_id.sName}}</td>
	        {% if student.bArrived %}
	        <td class="text-success">到了😎</td>
	        {% else %}
	        <td class="text-danger">沒到😠</td>
	        {% endif %}
          {% if student.sTime %}
          <td style="color: purple">{{student.sTime}}</td>
          {% else %}
          <td class="text-danger">-</td>
          {% endif %}
	       
	      </tr>
	  {% endfor %}
    </tbody>
  </table>
</div>

<div class="container">
  <h2>馬上簽到</h2>
  <p>輸入學號、密碼</p>
  <form class="form-inline" action="" method="POST">
  	{% csrf_token %}
    <input type="text" class="form-control"  placeholder="學號" name="sStudent_id">
    <input type="password" class="form-control"  placeholder="密碼" name="hashPassword">
    <button type="submit" class="btn btn-primary">送出</button>
    <a class="btn btn-outline-info" href="register" >第一次使用？</a>
  </form>
</div>
{% if success %}
<div class="alert alert-success">
{% else %}
<div class="alert alert-danger">
{% endif %}
  <strong>簽到狀態：</strong> {{status}}
</div>



</body>
</html>



<script>function display_ct7() {
var x = new Date()
var ampm = x.getHours( ) >= 12 ? ' PM' : ' AM';
hours = x.getHours( ) % 12;
hours = hours ? hours : 12;
hours=hours.toString().length==1? 0+hours.toString() : hours;

var minutes=x.getMinutes().toString()
minutes=minutes.length==1 ? 0+minutes : minutes;

var seconds=x.getSeconds().toString()
seconds=seconds.length==1 ? 0+seconds : seconds;

var month=(x.getMonth() +1).toString();
month=month.length==1 ? 0+month : month;

var dt=x.getDate().toString();
dt=dt.length==1 ? 0+dt : dt;

var x1=month + "/" + dt + "/" + x.getFullYear(); 
x1 = x1 + " - " +  hours + ":" +  minutes + ":" +  seconds + " " + ampm;
document.getElementById('ct7').innerHTML = x1;
display_c7();
 }
 function display_c7(){
var refresh=1000; // Refresh rate in milli seconds
mytime=setTimeout('display_ct7()',refresh)
}
display_c7()
</script>


