<!-- attendance_list.html -->


<!DOCTYPE html>
<html lang="en">
<head>
  <title>各班簽到表</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">首頁</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Wait">匿名傳Line</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Attendance">簽到列表</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Attendance/register">註冊簽到</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <h1>各班簽到表</h1>
  <p>找到自己的班級，點選即可進入簽到表。</p>
  <p>列表按照時間排序，所以點最上面那個就是當節課！</p>
  <div class="row">
    <div class="col-sm-3" style="background-color:lavender;"><h3>二年九班</h3>
    	{% for attend in attendance_209 %}
    	<p>
    		<a href="{{attend.sTitle}}">{{attend.sDate}}</a>
    	</p>
    	{% endfor %}
    </div>

    <div class="col-sm-3" style="background-color:lavenderblush;"><h3>一年五班</h3>
    	{% for attend in attendance_105 %}
    	<p>
    		<a href="{{attend.sTitle}}">{{attend.sDate}}</a>
    	</p>
    	{% endfor %}
    </div>
    <div class="col-sm-3" style="background-color:lavender;"><h3>一年十二班</h3>
    	{% for attend in attendance_112 %}
    	<p>
    		<a href="{{attend.sTitle}}">{{attend.sDate}}</a>
    	</p>
    	{% endfor %}
    </div>
  </div>
</div>

</body>
</html>

