<!-- register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>註冊</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">首頁</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Wait">匿名傳Line</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Attendance">簽到列表</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Attendance/register">註冊簽到</a>
    </li>
  </ul>
</nav>

<div class="container">
  <h2>簽到表註冊</h2>
  <form action="" method="POST">{% csrf_token %}
    <div class="form-group">
    	{{ registerForm.as_p }}
    </div>
    <button type="submit" class="btn btn-primary">註冊</button>
  </form>
  {% for e in errors %}
  <div class="alert alert-danger">
  	<strong>{{e}}</strong>
  </div>
  {% endfor %}

  {% for m in message %}
  <div class="alert alert-success">
  	<strong>{{ m }}</strong>
  </div>
  {% endfor %}

</div>

</body>
</html>

