<!-- wait.html -->
<!DOCTYPE html>
<html lang="tw">
<head>
  <title>冠曄好可愛</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">首頁</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Wait">匿名傳Line</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Attendance">簽到列表</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Attendance/register">註冊簽到</a>
    </li>
  </ul>
</nav>

<div class="container">
  <h2>上課有問題馬上跟冠曄說</h2>
  <p>輸入你想講的話：</p>
  <form class="form-inline" action="" method="POST">
  	{% csrf_token %}
    <input type="text" class="form-control"  placeholder="點這邊輸入" name="some_words">
    <button type="submit" class="btn btn-primary">送出</button>
  </form>
</div>
<div class="alert alert-success">
  <strong>傳送狀態：</strong> {{status}}
</div>


  <div>
    <button type="button" class="btn btn-outline-primary" onclick="document.getElementById('poll').innerHTML = getRndInteger(1,40)">抽籤</button>
    <p id="poll"></p>
  </div>
<script>
  function getRndInteger(min, max) {
    return Math.floor(Math.random() * (max - min + 1) ) + min;
}
</script>

</body>
</html>


